rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // قواعد الوصول للمستخدمين المعتمدين فقط
    match /{document=**} {
     allow read: if true;
      allow read, write: if true;
    }
  }
}